body{
    background-color: blue;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: blueviolet;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    display: flex;
}
h1{
color: aquamarine;
font-size: 30px;
}

input{
    width: 100px;
    height: 10px;

}
button{
    background-color: black;
width: 50px;
border-radius: 30px; 
}